<!-- new code start -->
<div id="ex1" class="modal Polaris-Card">

    <h1>Test pop-up </h1>
    <p>The test pop-up opens on the main page and closes itself after 10 seconds.</p>
    <a href="#" rel="modal:close" class="Polaris-Button Polaris-Button--primary">Close</a>

    <span class="Single">150</span>

</div>
<!-- new code end -->